.sixth-container-rare-collection img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    filter: contrast(0.9);


}
.sixth-container-rare-collection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 115px 0; 
    background-color: #1c1b19 !important;
}
.rare-collection-info{
    display: flex;
    justify-content: center;
    margin-right: 400px;
    position: absolute;
    flex-direction: column;
    height: 310px;
    width: 620px;
    z-index: 2;

}

.rare-collection-info button{
    width: 177px;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: #fcd462;
    letter-spacing: 1px;
    font-size: 14px;
    height: 65px;
    width: 190px;
    margin-top: 20px;
    transition: all 0.4s ease-out 0s;
}
.rare-collection-info button:hover{
    transition: all 0.4s ease-out 0s;
    border: 2px solid #fcd643;
    background: transparent;
    color: #fcd643;
    cursor: pointer;


}
.rare-collection-info h1{
    color: white;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    font-weight: 300;
}
.rare-collection-info h3{
    color: #a3a3a3;
    font-size: 14px ;
    margin-bottom: 20px;

}
.rare-collection-info p {
    color: #a3a3a3;
    line-height: 25px;
}